body {
    background-color:black

}


h1 {
    text-align: center;
    background-color: rgb(255, 0, 0)
}
footer {
    border-radius: 26;
    color:aliceblue;
    background-color: red;
    text-align: center;
}

.Foto-Container{
    display: flex;
    justify-content: center;

}

.Foto1, .Foto2 {
    margin: 0 10px;
    text-align: center;
}

div.Button {
    text-align: center;
}

.botao {
    background-color:chartreuse;
    border-radius: 26px;
    font-size: 30px;
    cursor:grab
}

h2 {
    color:aliceblue;
}

